
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f3fc;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #e9d7f7;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}


ul li {
    margin: 0 20px;
}


ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    background-color: #b19cd9;
    padding: 10px 20px;
    border-radius: 20px; 
    transition: background-color 0.3s ease, transform 0.2s;
    display: inline-block;
}


ul li a:hover {
    background-color: #a184d6; 
    transform: scale(1.05); 
}
